* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #1f1238, #07070d 60%);
  color: white;
}

.app {
  width: 100%;
  max-width: 460px;
  min-height: 100vh;
  margin: 0 auto;
  background: #151522;
  padding: 24px;
}

.screen {
  min-height: calc(100vh - 48px);
  animation: fadeIn 0.25s ease;
}

.hidden {
  display: none;
}

.logo {
  font-size: 56px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 16px;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin: 0 0 12px;
  font-size: 34px;
}

.subtitle {
  text-align: center;
  color: #aaaac0;
  margin-bottom: 28px;
  line-height: 1.5;
  font-size: 17px;
}

.smallText {
  color: #aaaac0;
  margin: 0;
  font-size: 13px;
}

input,
button {
  width: 100%;
  padding: 17px;
  margin-top: 13px;
  border-radius: 16px;
  border: none;
  font-size: 17px;
}

input {
  background: #232335;
  color: white;
  outline: none;
}

button {
  background: #7b2cff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.secondary {
  background: #29293d;
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameHeader h1 {
  text-align: left;
  font-size: 28px;
}

.logoutBtn {
  width: 54px;
  height: 54px;
  padding: 0;
}

.playerCard,
.empty,
.rankingItem {
  background: #202033;
  padding: 18px;
  border-radius: 18px;
  border: 1px solid #30304a;
}

.playerCard {
  margin: 22px 0;
}

.playerCard p {
  margin: 10px 0;
  font-size: 18px;
}

.page h2 {
  margin-top: 0;
  color: #d8b4ff;
}

.rankingItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.bottomNav {
  position: sticky;
  bottom: 0;
  display: flex;
  gap: 8px;
  margin-top: 22px;
  padding-top: 12px;
  background: #151522;
}

.bottomNav button {
  font-size: 22px;
  padding: 14px;
}

#message {
  text-align: center;
  color: #ffd36c;
  min-height: 24px;
  margin-top: 18px;
  font-size: 15px;
}

@media (max-width: 520px) {
  .app {
    max-width: none;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding: 22px;
  }

  h1 {
    font-size: 32px;
  }

  button,
  input {
    font-size: 17px;
    padding: 18px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.smallBtn {
  width: auto;
  padding: 10px 14px;
  font-size: 14px;
  margin-top: 0;
  border-radius: 12px;
  white-space: nowrap;
}

.rankingItem button {
  align-self: center;
}
.chestAnimation {
  margin-top: 18px;
  padding: 24px;
  background: #202033;
  border: 1px solid #3f3f60;
  border-radius: 18px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
